.body1 {
    background-color: pink;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body2 {
    background-color: skyblue;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.question-image {
    max-width: 25%;
    height: auto;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#noButton {
    position: absolute;
}
